/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(pink,#ee9b4d);
    margin: 0;
    padding: 0;
}
.omikuji-page {
    color: #dc3545;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
}
.result-outer {
    overflow: scroll;
    padding: 0.5rem;
    scrollbar-width: thin;

}
.result-inner {
    width: 280px;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: thick double #ff0000;
    outline: 0.2rem solid #ff0000;
    background-color: white;
}
.result-title {
    /* font-size: normal; */
    align-items: center;
}
hr {
    border-top: solid #ff0000;
    background-color: black;
    width: 100%;
}
img {
    width: 100%;
}
.result-comment {
    font-size: small;
}
.result h1 {
    text-align: center;
    /* font-size: large; */
}
.result-lucky-items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.result-lucky-items p{
    margin-top: 0;
    margin-bottom: .5rem;
}
.result-lucky-items h3{
    margin-top: 0;
    margin-bottom: 1rem;
}
#close-omikuji {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: small;
}